[submodule "plugins/gradle-mode"]
	path = plugins/gradle-mode
	url = https://github.com/jacobono/emacs-gradle-mode.git
[submodule "plugins/groovy-mode-plus"]
	path = plugins/groovy-mode-plus
	url = https://github.com/jacobono/groovy-mode-plus.git
[submodule "plugins/java-mode-plus"]
	path = plugins/java-mode-plus
	url = https://github.com/jacobono/java-mode-plus.git
[submodule "snippets/java-mode"]
	path = snippets/java-mode
	url = https://github.com/nekop/yasnippet-java-mode.git
