[submodule "plugins/groovy-mode-plus"]
	path = plugins/groovy-mode-plus
	url = https://github.com/jacobono/groovy-mode-plus.git
[submodule "plugins/java-mode-plus"]
	path = plugins/java-mode-plus
	url = https://github.com/jacobono/java-mode-plus.git
[submodule "snippets/java-mode"]
	path = snippets/java-mode
	url = https://github.com/nekop/yasnippet-java-mode.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/jacobono/yasnippet-snippets.git
